{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <meta name="viewport"\
            content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="main">
                <aside class="left">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'profile' %}"><strong>{{ user.username }}</strong></a>
                        {% endif %}
                </aside>
                <main>{% block hmiddle %} {% endblock %}</main>
                <aside class="right"> asdas
                </aside>
            </div>
        </header>
        <div class="main">
            <aside class="left">
                <nav class="navbar mr-auto d-flex flex-column justify-content-start">
                    <a class="navbar-brand justify-content-start" href="{% url 'index' %}">Network</a>
                    <div>
                        <ul class="navbar-nav mr-auto">
                   
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Following</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    </nav>
            </aside> <!--LEFT-->
            <main>
                {% block body %}
                {% endblock %}
            </main>
            <aside class="right">
                RIGHT
            </aside>
        </div>
        <footer>
            FOOTER
        </footer>
    </body>
</html>